#root {
  background-color: #FFF;
}
nav {
  height: 80px;
}
canvas {
  border-radius: 10px;
  background-color: #FFF;
}
footer {
  background-color: #FFF; 
}
a {
  color: #000;
}
.marBot {
  margin-bottom: 23px;
}
.marGinz {
  margin-top: 8px;
  margin-right: 8px;
}
.peachy {
  background: -webkit-linear-gradient(50deg,#ffbc58,#ff3030)!important;
  background: -o-linear-gradient(50deg,#ffbc58,#ff3030)!important;
  background: linear-gradient(40deg,#ffbc58,#ff3030)!important
}
.btn-default, .btn-secondary {
  background-color: unset;
}
.bluey {
  background: -webkit-linear-gradient(50deg,#1ef1e7,#00066B)!important;
  background: -o-linear-gradient(50deg,#1ef1e7,#00066B)!important;
  background: linear-gradient(40deg,#1ef1e7,#00066B)!important
}
.va {
  margin-top: 16px;
}
p {
  text-align: center;
}
.smallPic {
  max-width: 40%;
  max-height: 200px;
  border-radius: 6px;
}
.maxHeight {
  max-height: 100vh;
  max-width: 100%;
}
.mt-40 {
  margin-top: 40px;
}

/* ----------------------- Drop Down ----------------------- */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}