.navigationBar {
  height: 50px;
  width: 100%;
  background: lightgrey;
}

.map {
  height: 50vh;
  width: 100%;
  /* background: transparent; */
  background-image: url('../../assets/images/map.png');
  background-size: auto;
  background-repeat: no-repeat;
}

.formSection{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  padding: 50px;
  align-items: top;
  background-color: blanchedalmond;
}

.formFrame {
  height: 150px;
  width: 350px;
  background: transparent;
  
}